@import url('https://dankestfke.github.io/css/index.css');

@font-face {
    font-family: krunker;
    src: url(https://dl.dropboxusercontent.com/s/gah86a65ryfelaf/FFFFORWA.TTF?dl=0);
}

main {
    margin-left: 0;
    padding: 1rem;
}

.title {
    margin-top: 1rem;
    margin-left: 2rem;
}

.description {
    margin-left: 2rem;
    font-size: 12px;
    margin-bottom: 0;
}

.idkr {
    display: block;
    word-wrap: break-word;
    background-color: #101010;
    padding: 15px;
}

#settings {
    font-family: monospace;
    font-size: 10px;
}

.settings {
    user-select: text;
    line-height: 10px;
}

.copy {
    font-size: 15px;
    float: right;
    background-color: var(--accent-color);
    padding: 10px 25px;
    margin: 16.5px;
    margin-bottom: 0;
}

.transBG {
    border-color: transparent;
    background-color: transparent;
}

.textBorder {
    text-shadow: -1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020;
}