@import url('https://dankestfke.github.io/css/index.css');

@font-face {
    font-family: krunker;
    src: url(https://dl.dropboxusercontent.com/s/gah86a65ryfelaf/FFFFORWA.TTF?dl=0);
}

* {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

.test {
    background-color: transparent;
}