@font-face {
    font-family: krunker;
    src: url(https://dl.dropboxusercontent.com/s/gah86a65ryfelaf/FFFFORWA.TTF?dl=0);
}

* {
    font-family: krunker;
}

.titleone {
    color: black;
}

#one > p {
    color: #151515;
}

.navbar {
    display: inline-block;
    overflow: hidden;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}