@font-face {
    font-family: krunker;
    src: url(https://dl.dropboxusercontent.com/s/gah86a65ryfelaf/FFFFORWA.TTF?dl=0);
}

* {
    font-family: krunker;
    margin: 0;
}

.titleone {
    color: black;
}

#one > p {
    color: #151515;
}

.nav {
    display: flex;
    overflow: hidden;
    list-style-type: none;
    background-color: black;
    padding: 0;
    margin: 0;
}

.navBar {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.navBar:hover {
    color: black;
    background-color: white;
}